*{
	font-family:$rale;
}
#foto{
	@extend .mt;
	.container{
		.row{
			.col-md-5{
				.banner1{
					@extend .fondo;
					@extend .mage;
					background:url("../../assets/images/banner1.jpg")no-repeat;
				}
			}
    		.col-md-7{
    			.banner2{
    				@extend .fondo;
    				@extend .mage;
					background:url("../../assets/images/banner2.jpg")no-repeat;
				}
			}
		}
	}
}
