@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500italic,600italic,700italic,700,600,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
$rale: 'Raleway', sans-serif;
$mont: 'Montserrat', sans-serif;
$droid: 'Droid Serif', serif;
$coral: #FF7572;
$cursiva: italic;
$plomo:#909295;
$map:#222222;
$claro:#F1F1F1;
$footer:#444444;